/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Add flexbox */
    flex-direction: column; /* Align items in a column */
    align-items: center; /* Center items horizontally */
    background-color: #f7f7f7; /* Fallback color */
    background-image: linear-gradient(to bottom right, #3498db, #1abc9c); /* Gradient background */
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border: none;
    font-size: 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#inventoryOutput {
    margin-top: 20px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}
